.box {
    padding: 2rem;
     margin: 2rem;
    background-color: orangered;
    border: 1rem solid ;
    border-radius: 5px;
    border-color: orange;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
     color: yellow;
    text-align: center;
      
}
